#colonyspectrum {
	padding-top: 60px;
}

#measurement-states h5 {
  font-weight: 400;
  line-height: 1;
  color: #777;
}

#photo-container{
  position: relative;
}

#photo-container svg{
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}