#colonyspectrum {
	padding-top: 60px;
}

#measurement-states h5 {
  font-weight: 400;
  line-height: 1;
  color: #777;
}

#bg-photo-container{
  height:100%;
  width:100%;
  position: absolute;
  z-index: -1;
}