<!-- included by platePhoto -->
<template name="plateAnalysis">

<div class="page-header">
  <h1>Plate Analysis <small>{{displayTime}}</small></h1>
</div>

<ul class="list-group stats" id="plate-stats-list-group">
  <li class="list-group-item"><h2>Colonies detected: <strong>{{colonyCount}}</strong></h2></li>
  <li class="list-group-item"><h2>Unique colors: <strong>{{colorCount}}</strong></h2></li>
  <li class="list-group-item"><h3>With your help, we've measured <strong>{{totalColonies}}</strong> colonies and disovered <strong>{{colorCounts.uniqueColors}}</strong> unique colors so far!</h3></li>
  <li><button type="button" class="btn btn-warning btn-fat">Rare Colors Detected!</button></li>
</ul>    

</template>
