<template name="plateHello">
  <div class="container plate-views">
    <div class="row">

      <div class="col-md-5 col-sm-5">

        <div class="page-header">
          <h1>San Jose Tech Museum of Innovation</h1>
          <h3>e.Pixels measurement station demo</h3>
        </div>

        <!-- TODO fullscreen video demonstrating each step on relevant pages-->
        <p class="lead"><strong>e.Pixels</strong> is an interactive, hands-on synthetic biology experience under development at The Tech. Visitors use genetic engineering techniques to create multi-colored bacteria in a self-directed wetlab, then use the <strong>e.Pixels</strong> system to collect and analyse the results of other visitor's experiments.</p>

        <p><a href="igem14-rainbowreader.meteor.com">This site</a> showcases an early demo of the system, which we presented at the International Genetically Engineered Machines competiton (iGEM) of 2014. You can find background information about the demo on our <a href="http://2014.igem.org/Team:The_Tech_Museum/Project">iGEM Wiki Page</a>, and source files on <a href="https://github.com/100ideas/rainbowreader">github</a>.
        </p>

        <p class="text-align-justified"><a href="http://www.thetech.org/">The Tech Museum of Innovation</a> is a science and technology center located in San Jose, California. Our mission is <i>to inspire the innovator in everyone</i>.</p>

        <button class="btn btn-warning btn-fat" id="startbutton">start</button>
      </div>



      <div class="col-md-6 col-md-offset-1 col-sm-6">
        <h1 class="jumbo"> Help discover <strong style="color:magenta;">B</strong><strong style="color:red;">A</strong><strong style="color:orange;">C</strong><strong style="color:yellow;">T</strong><strong style="color:green;">E</strong><strong style="color:teal;">R</strong><strong style="color:blue;">I</strong><strong style="color:purple;">A</strong> colors!</h1>
      </div>


    </div>
  </div>
</template>
