<template name="plateIntroduction">

<div class="col-sm-4">

  <p class="text-justify lead">These plates have bacteria from several days ago. DNA with color genes for red, blue and yellow proteins was put into them. As the bacteria grew, they made different amounts of each color gene. Like mixing different colors of paint, we can get many colors of bacteria!</p>

  <p class="text-justify">We need you to be a scientists on our team and help gather data about the bacteria colors. On the wall you can see all the color data that has been collected by other museum visitors.</p>

  <p class="text-justify">Now, it is time for YOU to analyze a plate and add to our color data. Find some rare colors!</p>

  <p class="text-justify">Pick a plate with Colored Bacteria and scan the plate barcode...</p>

   <button class="btn btn-warning btn-block">Let's get started!</button>
</div>

</template>
