<template name="plateHello">

<div class="col-sm-8">
  <h1 class="jumbo">GENES BACTERIA COLORS</h1>
</div>

<div class="col-sm-4">

  <H1>HELLO!</H1>

  <p>This page invites users to go get a plate and begin the measurement process</p>

  Ticket Barcode: {{ticketBarcode}}

  Plate Barcode: {{plateBarcode}}


  <ul>
    <li>Ticket Barcode: {{getSessionDocument.userBarcode}}</li>
    <li>Plate Barcode: {{getSessionDocument.plateBarcode}}</li>
  </ul>


  {{#if notMuseum}}
  <button type="button" class="btn btn-warning btn-large">fake barcode scan</button>
  {{/if}}
</div>

</template>
