<template name="plateAnalysis">
	
  {{logContext "plateAnalysis"}}


  <h3 class="text-center">plate statistics</h3>  


  <p>Plate # {{dishBarcode}}</p>              
  
  <p>Started On: {{displayTime}}</p>
  
  <p>Transformed by: name goes here, {{userBarcode}}</p>
  
  <p>Measured by: name goes here, barcode goes here</p>

  <p>Colonies counted:  {{colonyCount454654}}</p>

  <p>Total colonies for the entire exhibit: {{totalColonies}} </p>

  <p>Unique colors counted: {{colorCount}} </p>

  <p>Unique colors for the entire exhibit: </p>

  <p>Gamut: </p>

  <p>Picked: </p>
 




  
  

</template>
