<template name="footer">

<div class="footer" style="margin-bottom: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <button type="button" class="btn btn-sm btn-primary" id="admin"><i class="fa fa-wrench"></i></button>
        <span id="admin-bar">        
          <button type="button" class="btn btn-sm btn-danger" id="restart">restart</button>
          <button type="button" class="btn btn-sm btn-primary" id="userbc">user <i class="fa fa-barcode"></i></button>
          <button type="button" class="btn btn-sm btn-primary" id="platebc">plate <i class="fa fa-barcode"></i></button>
          <button type="button" class="btn btn-sm btn-primary" id="nobg">background</button>
          <span class="pull-right">
            <button type="button" class="btn btn-sm btn-primary" id="vmd">vmd</button>
            <button type="button" class="btn btn-sm btn-warning" id="bill">bill me</button>   
          </span>      
        </span>
      </div>
      <div class="col-xs-4 col-xs-offset-2">
        <div class="pull-right">
          <i class="fa fa-child fa-2x"></i>
          <i class="fa fa-flask fa-2x"></i>
          <i class="fa fa-camera-retro fa-2x"></i>
          <i class="fa fa-ticket fa-2x"></i>
          <i class="fa fa-wrench fa-2x"></i>
          <i class="fa fa-barcode fa-2x"></i>
          <i class="fa fa-spinner fa-spin fa-2x"></i>  
        </div>
      </div>    
    </div>
  </div>
</div>


</template>

