<template name="header">

{{logContext "header"}}

  <div class="header">
    <ul class="nav nav-pills pull-right">
<!--       <li class="active"><a href="#">plates</a></li>
      <li><a href="#">About</a></li> -->
      <li><a href="/">Restart</a></li>
    </ul>
    <h3 class="text-muted">Plate {{getSessionDocument.dishBarcode}}</h3>

  {{#if showScanBarcodes}}
    Scan barcodes on your ticket and the petri dish.
  {{/if}}

  {{#if showTakePhoto}}
    <input type="button" value="Take Photo" />
  {{/if}}

  </div>

</template>