<template name="plate">

<!-- state status bar -->

<div class="row">
  <div class="col-sm-12 panel" id="measurement-states">
    <ul class="list-inline text-center">
      <li><h5>showPlateHello:
        {{#if showPlateHello}}
          <span class="label label-success">true</span>
        {{else}}
          <span class="label label-danger">false</span>
        {{/if}}
      </h5></li>

      <li><h5>showPlateInstructions:
        {{#if showPlateInstructions}}
          <span class="label label-success">true</span>
        {{else}}
          <span class="label label-danger">false</span>
        {{/if}}
      </h5></li>

      <li><h5>showPlatePhoto:
        {{#if showPlatePhoto}}
          <span class="label label-success">true</span>
        {{else}}
          <span class="label label-danger">false</span>
        {{/if}}
      </h5></li>

      <li><h5>showPlateAnalysis:
        {{#if showPlateAnalysis}}
          <span class="label label-success">true</span>
        {{else}}
          <span class="label label-danger">false</span>
        {{/if}}
      </h5></li>
      <li><h5>showPlateRareColors:
        {{#if showPlateRareColors}}
          <span class="label label-success">true</span>
        {{else}}
          <span class="label label-danger">false</span>
        {{/if}}
      </h5></li>
      <li><h5>showPlateWallUpdate:
        {{#if showPlateWallUpdate}}
          <span class="label label-success">true</span>
        {{else}}
          <span class="label label-danger">false</span>
        {{/if}}
      </h5></li>
    </ul>
  </div>
</div>



 <div>
  {{#if showPlateHello}}
    {{> plateHello}}
  {{/if}}

</div>

 <div>
  {{#if showPlateInstructions}}
    {{> plateInstructions}}
  {{/if}}
</div>

<div>
  {{#if showPlatePhoto}}
    {{> platePhoto showPlateAnalysis }}
  {{/if}}
</div>

<div>
  {{#if showPlateRareColors}}
    {{> plateRareColors}}
  {{/if}}
</div>

<div>
  {{#if showPlateWallUpdate}}
    {{> plateWallUpdate}}
  {{/if}}
 </div>

</template>


<template name="routerState">


</template>
