<template name="plateAnalysis">
	
  {{logContext "plateAnalysis"}}




  <p>Plate # {{dishBarcode}}</p>              
  
  <p>Started On: {{displayTime}}</p>
  
  <p>Transformed by: name goes here, {{userBarcode}}</p>
  
  <p>Measured by: name goes here, barcode goes here</p>

  <p>Colonies counted:  {{colonyCount}}</p>

  <p>Total colonies for the entire exhibit: </p>

  <p>Unique colors counted: {{colorCount}} </p>

  <p>Unique colors for the entire exhibit: </p>

  <p>Gamut: </p>

  <p>Picked?: </p>
 


  <h3 class="text-center">analyzing colors</h3>

  
  

</template>
