<template name="plate">

<!-- state status bar -->

<div class="row">
  <div class="col-sm-12 panel" id="measurement-states">
    <ul class="list-inline text-center">
      <li><h5>showPlateHello: 
        {{#if showPlateHello}} 
          <span class="label label-success">true</span>
        {{else}}
          <span class="label label-danger">false</span>
        {{/if}}
      </h5></li>

      <li><h5>showPlateInstructions: 
        {{#if showPlateInstructions}} 
          <span class="label label-success">true</span>
        {{else}}
          <span class="label label-danger">false</span>
        {{/if}}
      </h5></li>

      <li><h5>showPlatePhoto: 
        {{#if showPlatePhoto}} 
          <span class="label label-success">true</span>
        {{else}}
          <span class="label label-danger">false</span>
        {{/if}}
      </h5></li>    

      <li><h5>showPlateAnalysis: 
        {{#if showPlateAnalysis}} 
          <span class="label label-success">true</span>
        {{else}}
          <span class="label label-danger">false</span>
        {{/if}}
      </h5></li>
      <li><h5>showPlateRareColors: 
        {{#if showPlateRareColors}} 
          <span class="label label-success">true</span>
        {{else}}
          <span class="label label-danger">false</span>
        {{/if}}
      </h5></li>
      <li><h5>showPlateWallUpdate: 
        {{#if showPlateAnalysis}} 
          <span class="label label-success">true</span>
        {{else}}
          <span class="label label-danger">false</span>
        {{/if}}
      </h5></li>    
    </ul>
  </div> 
</div> 


<div class="row">
   <div class="col-sm-4 col-sm-offset-4">
    {{#if showPlateHello}}
      {{> plateHello}}
    {{/if}}
  </div>
</div>
<div class="row">
   <div class="col-sm-4 col-sm-offset-4">

    {{#if showPlateInstructions}}  
      {{> plateInstructions}}
    {{/if}}    

  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

    {{#if showPlatePhoto}}
      {{> platePhoto showPlateAnalysis }}
    {{/if}}

  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

    {{#if showPlateRareColors}}
      {{> plateRareColors}}
    {{/if}}    

  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

    {{#if showPlateWallUpdate}}
      {{> plateWallUpdate}}
    {{/if}}      

   </div>
</div>

</template>

<template name="routerState">
  

</template>
















